.git
.github
.DS_Store

**/node_modules
**/dist
**/data
**/.env
**/*.db
**/*.db-shm
**/*.db-wal

backend-node/deploy-pack
desktop/backend-app-secure
desktop/release-icon-test
desktop/release-icon-test-7
server
参考前端
